.DS_Store
1/.ipynb_checkpoints/11-checkpoint.ipynb
1/.ipynb_checkpoints/12-checkpoint.ipynb
1/.ipynb_checkpoints/13-checkpoint.ipynb
1/.ipynb_checkpoints/14-checkpoint.ipynb
1/.ipynb_checkpoints/16-checkpoint.ipynb
